footer{
    border-top: 1px solid #323232;
    margin: 0px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 200px;

}

.footer__dropdown{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    margin-bottom: 40px;
    gap: 18px;
}

.footer__dropdown__section{
    width: 100%;
}

.footer__btn{
    width: 100%;
    background-color: var(--background-color);
    color: var(--call-to-action-color);
    border: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.35em;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.footer__dropdown button:nth-of-type(2) {
    margin-top: 1em;
}

.footer__dropdown button:nth-of-type(3) {
    margin-top: 1em;
}

.footer__btn--arrow{
   font-weight: bolder;
   right: 0;
   transition: 0.7s ease;
}

.footer__btn--arrow.clicked{
   transform: rotate(180deg);
}

.footer__dropdown__options{
    overflow: hidden;
    height: 0;
    transition:0.3s linear;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 100%;
    padding-left: 20px;
}


.footer__dropdown__options.clicked{
    height: initial;
    margin: 0;
    padding: 1rem ;
}

.footer__dropdown__option{
    list-style-type: none;
    font-size: 1.1rem;
    font-weight: 500;
}

.footer__socials{
    display: flex;
    align-items:end;
    justify-content: end;
    gap: 1rem;
    padding-left: 20px;
    margin-bottom: 40px;
}

.footer__icon{
    font-size: 1.2em;
    background-color: var(--call-to-action-color);
    color: var(--main-font-color);
    padding: 10px;
    border-radius: 50%;
    transition: 0.5s ease;
}

.footer__icon:hover {
    font-size: 1.3em;
    padding: 11px;

}

.branding{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.branding__logo{
    width: 80px;
    margin: 30px 0 20px 0;
}

.branding__info{
    font-size: small;
    color: var(--main-font-color);
    line-height: 1.7rem;
    font-weight:400;
}


@media screen and (min-width:786px) {
  
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.branding{
    order: -1;
    align-items: start;
}

.branding__info{
    font-size: 1.2rem;
    line-height: 2rem;
}

.footer__dropdown__options{
    overflow: auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    width: 100%;
    padding-left: 0px;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
    font-size: 2rem;
}

.footer__dropdown__options li{
    font-size: 1.25rem;
}

.footer__dropdown__section{
    width: fit-content;
}

.footer__dropdown{
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    max-width: 600px;
    font-size:1.5rem;
    gap: 40px;
}

.footer__btn--arrow{
   display: none;
}

.footer__socials{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

.footer__dropdown__options{
    display: none;
}

.footer__btn{
    width: fit-content;
    margin: auto;
}

}