* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header{
    width: 100%;
    height: 50px;
    background-color: var(--background-color);
    display: flex;
    padding: 10px 15px 0 5px;
    align-items: center;
    position:fixed;
    padding: 40px 10px;
    top: 0px;
}

.header__logo{
    width: 23%;
    height: 40px;
    margin-left: 7px;
    margin-top: 5.5px;
}



.off-screen-menu{
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.2rem;    
    top:-100%;
    transition: 1s ease;
    background-color: var(--background-color);
    opacity: 0.9;
    height: 100%;
}


.header__btn{
    display: none;
}

.off-screen-menu.active{
    top:10%
}

.off-screen-menu li{
    list-style-type: none;
}


.hamb-menu{
    width: 50px;
    position: relative;
    height: 50px;
    padding: 10px;
    margin-left: auto;
}

.hamb-menu:hover {
    background-color: var(--background-color);
    border-radius: 50%;

}

.hamb-menu:active{
    background-color: var(--background-color);
    border-radius: 50%;
}

.hamb-menu span{
 width: 80%;
 background-color: var(--main-font-color);
 position: absolute;
 border-radius: 5px;
 top: 50%;
 right: 50%;
 transition: 1s ease;
 transform: translate(50%, 50%);
 height: 2px;
}

.hamb-menu span:nth-child(1){
 top:25%;
}

.hamb-menu span:nth-child(2){
     transition: 2s ease;
     top:45%;
}

.hamb-menu span:nth-child(3){
 top:65%;
}

.hamb-menu.active span:nth-child(1){
 transform: translate(50%, 50%) rotate(45deg);
 top: 50%;
 right: 50%;
}

.hamb-menu.active span:nth-child(2){
    display: none;
}

.hamb-menu.active span:nth-child(3){
 transform: translate(50%, 50%) rotate(-45deg);
 top: 50%;
 right: 50%;

}

.navmenu__link {
  position: relative;
  text-decoration: none;
  color: var(--main-font-color);
  font-weight: 500;
}

.navmenu__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background: currentColor;
  transition: width 0.6s ease-out;
}

.my__link::after {
  width: 100%;
}

.navmenu__link:hover{
    color: var(--call-to-action-color);
}

.header__btn{
    display: none;
}

.headerTitle{
    text-decoration: none;
    color: var(--call-to-action-color);
    font-weight: bolder;
    margin-left: 10px;
    font-size: 1.3rem;
}


@media screen and (min-width: 768px) {

    .header{
        padding: 50px 30px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .headerTitle{
        display: none;
    }
    .hamb-menu{
        display: none;
    }

    .off-screen-menu{
        position: static;
        justify-content: center;
        font-size: 1.5rem;    
        transition: 1s ease;
        background-color: var(--background-color);
        opacity: 1;
        height: fit-content;
        width: fit-content;
    }

    .off-screen-menu ul{
        display: flex;
        justify-content: center;
        gap: 60px;
        
    }

    .off-screen-menu li{
    list-style-type: none;

    }

    .header__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 20px;
        height: 50px;
        font-size: 1.2rem;
        background-color: var(--call-to-action-color);
        border: none;
        border-radius: 25px;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        text-decoration: none;
        color: var(--main-font-color)
    }


    .header__btn:hover{
        background-color: var(--call-to-action-secondary-color);
    }

}



