
.contactCont{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 200px auto 100px auto;
    gap: 20px;
}

.contactCont__linkSectionCont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin: 50px auto 0px auto;
    flex-direction: column;
    gap: 30px;

}

.hero__tittle{
    text-align:center;
    margin-top: 50px;
}


@media screen and (min-width:786px) {
    
.contactCont__linkSectionCont{
    justify-content: space-around;
    padding: 20px;
    margin: 100px auto;
    flex-direction: row;
}


.contactCont{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
    margin: 200px auto 100px auto;
}



.contactCont__linkSectionCont a{
    padding: 20px;
}

.hero__tittle{
    margin-top: 20px;
    text-align: center;
}

}