.hero__preview{
    width: 310px;
    margin: auto;
    margin-top: 10rem;
    border-radius: 25px;
    margin-bottom: 3rem;
    transition: 0.3s ease;
    
}

.hero__tittle{
    color: var(--main-font-color);
    font-size:1.5rem;
}

.callToActionColor{
    color: var(--call-to-action-color);
}

.hero__description{
    font-size: 1.2rem;
}

.hero__description--hidden{
    display: none;
}
.hero{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 130px;
    margin-bottom: 2rem;
    color: var(--main-font-color)
    
    }

.hero__tittle-secondary-color{
    color: var(--call-to-action-color)
}

.hero__preview:hover {
    width: 320px;
    box-shadow: #939393 0px 0px 8px 0px;
}


.hero__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:var(--main-font-color);
    padding: 0 20px;
    margin: 0 auto  0 auto;
    height: 50px;
    font-size: 1.2rem;
    background-color: var(--call-to-action-color);
    border: none;
    border-radius: 25px;
    font-weight: 500;
    margin-bottom: 70px;
    transition: 0.3s ease;
    cursor: pointer;

}

.hero__btn:hover{
    background-color: var(--call-to-action-secondary-color);
}

.hero__description{
    width: 66%;
    text-align: center;
    margin: auto;
}

.technologyImg{
        width: 40px;
        transition: all 0.4s ease-in-out;
    }


    .links__container a{
        font-size: 1.5rem;
        text-decoration: none;
        color: var(--call-to-action-color);
    }

    .links__container img{
        width: 30px;
        background-color: var(--main-font-color);
        margin-left: 40px;    
    }

    .techonologiesSection{
        margin-top: 70px;
    }

    .smallFont{
        font-size: 0.8rem;
    }

    .techonologiesCont{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        width: 300px;
        margin: 50px auto;  
    }

    .topProjects__title__line{
        border-bottom: 1.5px var(--call-to-action-color) solid;
        width: 60%;
        display: inline-block;
        margin-top: 15px;
    }

    .topProjects__title{
        width: fit-content;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-top: 110px;
        padding-left: 15px;
        font-size: 1rem;
    }

    .topProjects__title h2{
        font-size: 2rem;
    }

.projectsNavLink{
        text-decoration: none;
        color: var(--call-to-action-color);
        display: block;
        width: fit-content;
        font-size: 1.6rem;
        text-align: center;
        margin: auto;
        font-weight: bold;
    }

    .projectsNavLink:hover{
        color: var(--call-to-action-secondary-color);
        transition: all 0.5s ease-in-out;

    }

    .navLink{
        text-decoration: none;
        color: var(--main-font-color);
        transition: all 2s ease-in-out;
        margin-top: 50px;
        padding: 20px 10px;
        border: 1px var(--background-color);
        border-radius: 10px;
        display: flex;
        flex-direction: column-reverse;

    }

@media screen and (min-width:768px) {

    .navLink{
    flex-direction:row;
    
    }
  
    .projectArticle__projectInfo{
        width: 50%;
    }

    .projectMainImg{
        width: 50%;
    }
    
    .projectsNavLink{
        
        margin-top: 100px;
        font-size: 2rem;
        text-align: center;
        margin: auto;
    }

    .projectsNavLink:hover{
        color: var(--call-to-action-secondary-color);
        transition: all 0.5s ease-in-out;

    }
    .techonologiesSection{
        margin-top: 50px;
    }

    .techonologiesSection p{
        font-size: 1.3rem;
                text-align: center;

    }
    .techonologiesSection h2{
                text-align: center;

        font-size: 1.5rem;
    }

    

    .hero{
        text-align: left;
        padding-left: 80px;
    }

    .hero__description{
        text-align: start;
        margin: 0px;
    }

    .hero__technologies{
        width: 10%;
    }

    


    .hero__btn{
        padding: 0px 80px;
        height: 70px;
        font-size: 1.6rem;
        border-radius: 50px;
        font-weight: 500;
        margin-right: 1px;
        width: fit-content;
        transition:all 0.3s ease;
        margin: 0;

    }

    .techonologiesCont{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 80%;
        margin: 100px auto;  
    }

    .hero__tittle{
        font-size: 2rem;
        text-align: left;
        margin: 0px;
        width: fit-content;
    }

    .hero__description{
        font-size: 1.5rem;
    }

    
    .links__container{
        text-align: left;
        margin-top: 20px;
        width: fit-content;
        display: flex;
    }

    

    .topProjects{
        margin-bottom: 50px;
    }

   

    .topProjects__title{
        margin-top: 200px;
        font-size: 1.7rem;
        width: fit-content;
        display: flex;
        align-items: start;
        flex-direction: column;
    }

    

    

    .navLink{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 5px 10px;
    }

    
    .liveSiteAnchor{
        font-weight: bolder;
        font-size: 5rem;
    }

}

