:root {
  --call-to-action-color:#ff3258 ;
  --call-to-action-secondary-color:#e27287 ;
  --secondary-font-color: #333;
  --background-color:black;
  --secondary-background:rgb(20, 20, 20);
  --main-font-color: #f0e9f2;

  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: var(--main-font-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body{
  height: fit-content;
}

button{
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
}